<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>Cadastro de Filmes</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  
  <body class="">
   <!-- <div class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></a>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <a class="navbar-brand" href="">Cadastro de Filmes</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><%= link_to "Visualizar Filmes", rooms_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><%= link_to "Inicio", root_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-example-generic" data-interval="3000" class="carousel slide"
          data-ride="carousel">
            <div class="carousel-inner">
              <div class="item">
                <img src="http://localhost:3000/../img/banner-1-envision-b.jpg">
                <div class="carousel-caption">
                  <h2 class="text-primary">Os Melhores CIneastas</h2>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <img src="http://localhost:3000/../img/Bloodborne-Personagen-Vs-Ave-Rastejante-PS4-Imagem.jpg">
                <div class="carousel-caption">
                  <h2>As Melhores Animações</h2>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <img src="http://localhost:3000/../img/Captain-America-Shield-1920x600.jpg">
                <div class="carousel-caption">
                  <h2>Os Melhores&nbsp;Blockbusters</h2>
                  <p></p>
                </div>
              </div>
              <div class="item active">
                <img src="http://localhost:3000/../img/how-to-train-your-dragon.jpg__1920x600_q85_crop_subsampling-2_upscale.jpg">
                <div class="carousel-caption">
                  <h2>Os Filmes mais Emocionantes</h2>
                  <p></p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>-->
        <%= yield %>
  </body>

</html>